# <b> QC반 20232678 조은성

github - https://github.com/EunSeong-Jo/DMU.git

# 2장 본문 코딩

### 2-2 코딩 - 20232678 조은성

In [1]:
'''과제1.py
    2024 3. by Jo Eun Seong'''

print('# 이후는 주석') # 한 줄에서 문장 이후에도 주석 사용 가능
print('string: "python"') # 작은따옴표 내부에 있는 큰따옴표는 문자열
print('number: 1 5 3.14') # 문자열 내부의 숫자는 문자열
print("string: 'python'") # 큰따옴표 내부에 있는 작은따옴표는 문자열

# 이후는 주석
string: "python"
number: 1 5 3.14
string: 'python'

### 2-4 코딩  - 20232678 조은성

In [10]:
print('계산금액')

계산금액

In [11]:
print(78000)

78000

In [12]:
print('오만 원권')

오만 원권

In [15]:
print(78000 // 50000)

1

In [16]:
78000 % 50000

28000

In [17]:
print('만 원권')

만 원권

In [18]:
print( _ // 10000)

2

In [19]:
_ % 10000

8000

In [20]:
print('오천원권')

오천원권

In [21]:
print( _ // 5000 + 1)

2

In [22]:
print('잔돈')

잔돈

In [23]:
print(5000 - _ % 5000)

2000

In [24]:
print(5000 - (78000 % 50000) % 10000 % 5000)

2000

### 2-6 코딩 - 20232678 조은성

In [25]:
print(1, 2, -5, 3.14, 2.71828)
print('Hi,', 'Python!')

print('23000은', '5000원 ?개', '1000원 ?개')
print('5000원', 23000 // 5000, '개')
print('1000원', (23000 % 5000) // 1000, '개')

1 2 -5 3.14 2.71828
Hi, Python!
23000은 5000원 ?개 1000원 ?개
5000원 4 개
1000원 3 개

### 2-8 코딩  - 20232678 조은성

In [26]:
celsius = 37
fahrenhite = celsius * 9/5 + 32 # 화씨 변환
print('섭씨: ', celsius, ',', '화씨: ', fahrenhite)
celsius += 3 # 섭씨 3도 증가
fahrenhite = celsius * 9/5 + 32 # 화씨 변환
print('섭씨: ', celsius, ',', '화씨: ', fahrenhite)

섭씨:  37 , 화씨:  98.6
섭씨:  40 , 화씨:  104.0

### 2-10 코딩  - 20232678 조은성

In [27]:
distance = 384400
unit = 10000
manUnit , remainder = divmod(distance, unit)
print('지구에서 달까지의 거리:', manUnit, '만', remainder, '킬로미터')

지구에서 달까지의 거리: 38 만 4400 킬로미터

### 2-12 코딩  - 20232678 조은성

In [28]:
int('python') # 일반 글자

ValueError: invalid literal for int() with base 10: 'python'

In [29]:
int('6400i') # 정수에 문자 'i'가 포함됨

ValueError: invalid literal for int() with base 10: '6400i'

In [31]:
float('3.141592f') # 실수에 문자 'f'가 포함됨

ValueError: could not convert string to float: '3.141592f'

In [35]:
int('2.71818') # 정수가 아닌 실수 형태

ValueError: invalid literal for int() with base 10: '2.71818'

In [33]:
int('0b11') # 10진수 형태만 가능

ValueError: invalid literal for int() with base 10: '0b11'

In [36]:
int(float(2.71828)) # 정상적인 2 반환

2

### 2-14 코딩 - 20232678 조은성

In [40]:
planet = input('원하는 행성은? ')
print('원하는 행성은? ', planet)
strRadius = input(planet + ' 반지름은? ')
print(planet + ' 반지름은? ', strRadius)
radius = int(strRadius)

length = 2 * 3.14 * radius
print(planet, '반지름:', radius)
print(planet, '둘레길이:', length)

원하는 행성은?  지구
지구 반지름은?  6400
지구 반지름: 6400
지구 둘레길이: 40192.0

### 2-16 코딩 - 20232678 조은성

In [44]:
invar = input('16진수 정수 입력 >> ')
print('16진수 정수 입력 >> ', invar)
data = int(invar, 16) # 입력 문자열을 16진수로 인지해 변환
# 여러 진수로 출력
print('2진수 : ',bin(data))
print('8진수 : ',oct(data))
print('10진수 : ',data)
print('16진수 : ',hex(data))

print('----------------------------')

invar2 = input('16진수 정수 입력 >> ')
print('16진수 정수 입력 >> ', invar2)
data2 = int(invar2, 16) # 입력 문자열을 16진수로 인지해 변환
# 여러 진수로 출력
print('2진수 : ',bin(data2))
print('8진수 : ',oct(data2))
print('10진수 : ',data2)
print('16진수 : ',hex(data2))

16진수 정수 입력 >>  0x1c
2진수 :  0b11100
8진수 :  0o34
10진수 :  28
16진수 :  0x1c
----------------------------
16진수 정수 입력 >>  32
2진수 :  0b110010
8진수 :  0o62
10진수 :  50
16진수 :  0x32

# 프로젝트 Lab 1  - 20232678 조은성

In [45]:
# 두 실수의 사칙연산
num1 = float(input('첫 번째 수 입력 >> '))
print('첫 번째 수 입력 >> ', num1)
num2 = float(input('두 번째 수 입력 >> '))
print('두 번째 수 입력 >> ', num2)

print('합: ', num1 + num2)
print('차: ', num1 - num2)
print('곱하기: ', num1 * num2)
print('나누기: ', num1 / num2)

# 연산식 계산
expression = input('연산식 입력 (예 3.2 + 4 * 1.5) >> ')
print('연산식: ', expression, '결과: ', eval(expression))

첫 번째 수 입력 >>  10.0
두 번째 수 입력 >>  2.5
합:  12.5
차:  7.5
곱하기:  25.0
나누기:  4.0
연산식:  30//4 결과:  7

# 프로젝트 Lab 2  - 20232678 조은성

In [100]:
# 입력할 진수를 입력
base = int(input('입력할 정수의 진수(base)는? '))
print('입력할 정수의 진수(base)는? ', base)

# 입력 진수에 따른 값 입력
invar = input(str(base) + '진수 정수 입력 >> ')
print(str(base) + '진수 정수 입력 >> ', invar)

# 입력한 값을 10진수로 변환
data = int(invar, base)

# 여러 진수로 출력
print('2진수 : ' , bin(data))
print('8진수 : ' , oct(data))
print('10진수 : ' , data)
print('16진수 : ' , hex(data))

입력할 정수의 진수(base)는?  16
16진수 정수 입력 >>  1f
2진수 :  0b11111
8진수 :  0o37
10진수 :  31
16진수 :  0x1f

# 도전! 프로그래밍  - 20232678 조은성

In [97]:
# 01
str1 = input('문자열 1: ')
print('문자열 1: ', str1)

str2 = input('문자열 2: ')
print('문자열 2: ', str2)

print(str1, str2)

문자열 1:  python
문자열 2:  언어
python 언어

In [52]:
# 02
carSpeed = int(input('차의 속도를 입력(km) >> '))
print('차의 속도를 입력(km) >> ', carSpeed)

print(carSpeed,'(km)은 ', carSpeed / 1.61, '마일(miles)이다.')

차의 속도를 입력(km) >>  135
135 (km)은  83.85093167701862 마일(miles)이다.

In [53]:
# 03
count_num = int(input('아메리카노 몇 개 주문하세요? '))
print('아메리카노 몇 개 주문하세요? ', count_num)

print('총 가격은 ', count_num * 3500, '이다.')

아메리카노 몇 개 주문하세요?  7
총 가격은  24500 이다.

In [94]:
# 04
earth_round = 40120
half_round = 6378.1

circle_round = 2 * 3.141592 * half_round

print('알려진 지구의 둘레 : ', earth_round)
print('지구와 같은 원둘레: ', circle_round)
print('차이: ', earth_round - circle_round,'(km)')

알려진 지구의 둘레 :  40120
지구와 같은 원둘레:  40074.77587040001
차이:  45.22412959999201 (km)

In [60]:
# 05
temperature = int(input('온도 입력 >> '))
print('온도 입력 >> ', temperature)

f = temperature * 9/5 + 32
c = (f - 32) * 5/9

f2 = temperature * 2 + 30

print('정확 계산: 섭씨:', c, ' 화씨:', f)
print('약식 계산: 섭씨:', c, ' 화씨:', f2)
print('차이: ', f - f2)

온도 입력 >>  38
정확 계산: 섭씨: 38.0  화씨: 100.4
약식 계산: 섭씨: 38.0  화씨: 106
차이:  -5.599999999999994

In [65]:
# 06
number1 = int(input('Enter First number : '))
print('Enter First number : ', number1)

number2 = int(input('Enter Second number : '))
print('Enter Second number : ', number2)

print(number1, '/', number2, '==>', number1 / number2)
print(number1, '%', number2, '==>', number1 % number2)
print(number1, '//', number2, '==>', number1 // number2)
print(number1, '**', number2, '==>', number1 ** number2)

Enter First number :  12
Enter Second number :  5
12 / 5 ==> 2.4
12 % 5 ==> 2
12 // 5 ==> 2
12 ** 5 ==> 248832

In [95]:
# 07
f1_num = input('첫 번째 16진수 실수 입력 >> ')
print('첫 번째 16진수 실수 입력 >> ', f1_num)

f2_num = input('두 번째 16진수 실수 입력 >> ')
print('두 번째 16진수 실수 입력 >> ', f2_num)

f1_num = float.fromhex(f1_num)
f2_num = float.fromhex(f2_num)

print('실수1 :', f1_num, '실수2 :', f2_num)

print('합:', f1_num + f2_num)
print('차:', f1_num - f2_num)
print('곱하기:', f1_num * f2_num)
print('나누기:', f1_num / f2_num)

첫 번째 16진수 실수 입력 >>  f
두 번째 16진수 실수 입력 >>  e.1
실수1 : 15.0 실수2 : 14.0625
합: 29.0625
차: 0.9375
곱하기: 210.9375
나누기: 1.0666666666666667

In [90]:
# 08
rebmun = int(input('네 자릿수 정수 입력 >> '))
print('네 자릿수 정수 입력 >> ', rebmun)

'''
1의 자리 : rebmun // 1000
10의 자리 : ((rebmun % 1000) // 100) * 10
100의 자리 : ((rebmun % 100) // 10) * 100
1000의 자리 : (rebmun % 10) * 1000
'''
print(((rebmun % 10) * 1000) + (((rebmun % 100) // 10) * 100) + (((rebmun % 1000) // 100) * 10) + (rebmun // 1000))

네 자릿수 정수 입력 >>  5432
2345

# 3장 본문 코딩

### 3-2  - 20232678 조은성

In [101]:
str = 'Monty Python'

len(str)

12

In [102]:
str[0:5], str[6:], str[6:12]

('Monty', 'Python', 'Python')

In [103]:
str[-12:-7], str[-6:], str[-6:0]

('Monty', 'Python', '')

### 3-4  - 20232678 조은성

In [107]:
value = input('실수(세자리.두자리 345.78처럼)를 하나 입력하세요. >> ')
print('실수(세자리.두자리 345.78처럼)를 하나 입력하세요. >> ', value)

num = value.replace('.','')

sum = 0

sum += int(num[0])
sum += int(num[1])
sum += int(num[2])
sum += int(num[3])
sum += int(num[4])

print('입력값: ', value)
print('모든 자릿수 합: ', sum)

print('----------------------------------------------------------')

value2 = input('실수(세자리.두자리 345.78처럼)를 하나 입력하세요. >> ')
print('실수(세자리.두자리 345.78처럼)를 하나 입력하세요. >> ', value2)

number = value2.replace('.','')

sum2 = 0

sum2 += int(number[0])
sum2 += int(number[1])
sum2 += int(number[2])
sum2 += int(number[3])
sum2 += int(number[4])

print('입력값: ', value2)
print('모든 자릿수 합: ', sum2)

실수(세자리.두자리 345.78처럼)를 하나 입력하세요. >>  345.67
입력값:  345.67
모든 자릿수 합:  25
----------------------------------------------------------
실수(세자리.두자리 345.78처럼)를 하나 입력하세요. >>  287.34
입력값:  287.34
모든 자릿수 합:  24

### 3-6  - 20232678 조은성

In [106]:
m, n, x, y = input('4개의 수 입력 >> ').split()
print('4개의 수 입력 >> ', m, n, x, y)

a, b, c, d = float(m), float(n), float(x), float(y)
print('입력값: ', a, b, c, d)

sum = a + b + c + d

print('합: ', sum, '평균: ', sum / 4)
print('최대: ', max(a, b, c, d), '최소: ', min(a, b, c, d))

4개의 수 입력 >>  3.7 5.8 9 2.5
입력값:  3.7 5.8 9.0 2.5
합:  21.0 평균:  5.25
최대:  9.0 최소:  2.5