In [7]:
3.4

3.4

In [8]:
7

7

In [9]:
a = 3
a

3

In [10]:
m, n = 10, 20
print(m, n)

m, n = n, m
print(m, n)

10 20
20 10

In [11]:
age = 19
age

my_age = 20
my_age

_height = 172.3
_height

_26asian = 2026
_26asian

2026

In [12]:
a = 10
print(a)
type(a)

10

int

In [13]:
x = 2.718
print(x)
type(x)

2.718

float

In [14]:
c = 3 - 4j
print(c)
type(c)

(3-4j)

complex

In [15]:
a = 'vscode'
print(a)
type(a)

vscode

str

In [16]:
import datetime as dt

c = dt.datetime.now()
print(c.year, c.month, c.day)
type(c)

2024 9 12

datetime.datetime

In [17]:
import datetime as dt

d = dt.datetime()

TypeError: function missing required argument 'year' (pos 1)

In [18]:
10 + 4.3
5.4 - 1.2
4 * 2.7
10 / 4

2.5

In [19]:
10 % 3
10 // 3

3 ** 3
2 ** 2.8

3 * (4 - 2)
(10 - 3) ** 2

49

In [20]:
True & True
True and False
True | True
False or False

not False

True

In [21]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [22]:
year = input('당신이 태어난 연도는?')

In [23]:
print(year)
type(year)

1

str

In [24]:
age = 2026 - year

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [25]:
age = 2026 - int(year)
print('나이', age)

나이 2025

In [ ]:
abs(-3)
min(10)